/* You can add global styles to this file, and also import other style files */

body {
  background-color: #202020;
  color: #bcbcbc;
}

.flex {
  display: flex;
}

.flex > * {
  display: inline-block;
  vertical-align: middle;
}

.flex-right {
  margin-left: auto;
}

.flex-left {
  margin-right: auto;
}

form {
  margin: 0;
}
