<div class="outer" #outer (click)="onOuterClick($event)">
  <div class="inner">
    <div class="scroll">
      <div *ngIf="translationSettings">
        <ng-container
          *ngFor="let translator of translationSettings!.translators"
        >
          <h2 class="center flex">
            <span> {{ translator.name }}</span>
            <button
              class="flex-right"
              [disabled]="translationSettings!.isFirst(translator.name)"
              (click)="
                translationSettingsService.moveTranslatorUp(translator.name)
              "
            >
              up
            </button>
            <button
              [disabled]="translationSettings!.isLast(translator.name)"
              (click)="
                translationSettingsService.moveTranslatorDown(translator.name)
              "
            >
              down
            </button>
          </h2>
          <ngx-sortable
            [items]="translator.langs"
            [showHeader]="false"
            (listSorted)="onLangsSorted(translator.name, $event)"
          >
            <ng-template let-item>
              <div class="flex">
                <span class="lang-name">{{ item.name }}</span>
                <input
                  class="flex-right"
                  [name]="item.name"
                  type="checkbox"
                  [checked]="item.selected"
                  [title]="item.name"
                  (click)="onToggle(translator.name, item.name)"
                />
              </div>
            </ng-template>
          </ngx-sortable>
        </ng-container>
      </div>
    </div>
  </div>
</div>
