<div class="bottom translation" *ngIf="sentence && translator">
  <div *ngFor="let lang of translator!.getSelectedLangs()">
    <ng-container *ngIf="!!getTranslation(lang)">
      <span class="label">
        {{ lang }}
      </span>
      <span *ngIf="getTranslation(lang)!.pending">loading...</span>
      <span *ngIf="!!getTranslation(lang)!.error">
        >{{ getTranslation(lang)!.error }}
      </span>
      <span *ngIf="!!getTranslation(lang)!.translation">
        {{ getTranslation(lang)!.translation }}
      </span>
    </ng-container>
  </div>
</div>
