body {
  background-color: #202020;
  color: #bcbcbc;
}

.flex {
  display: flex;
}

.flex > * {
  display: inline-block;
  vertical-align: middle;
}

.flex-right {
  margin-left: auto;
}

.flex-left {
  margin-right: auto;
}

form {
  margin: 0;
}

.text_history_status {
  font-size: 12px;
  margin: auto 0px auto 10px;
}

.current_line {
  margin: 20px 10px 10px 10px;
  font-size: 40px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.red {
  color: red;
}

.green {
  color: green;
}

.white {
  color: #bcbcbc;
}

.bottom {
  position: absolute;
  bottom: 0px;
  left: 10px;
  right: 10px;
}

.translation {
  font-size: 20px;
}

.homepage {
  font-size: 12px;
}

.langs {
  margin-right: 10px;
}

.langs > input {
  border: 0;
  margin: 0;
}
